* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-overlay {
    position: absolute;
    width: 100%;
    height: 60px;
}

.body-wrapper {
    display: flex;
    justify-content: center;
}

.body-container {
    position: absolute;
    top: 60px;
    justify-self: center;
    width: 80%;
    background-color: #eee;
    height: 200vh;
}

@media screen and (max-width: 960px) {
    .body-container {
        width: 100%;
    }
}
